<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decisive Technologies</title>
    <link rel="stylesheet" href="https://waseem-mosam.github.io/automation/stylesheet/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
<body>
    <div class="container-fluid">

        <!-- Header -->
        <div class="row">
            <div class="header col-lg-12">
                <img class="logo" src="https://waseem-mosam.github.io/automation/images/logo-dt.png" alt="Company Logo">
            </div>
        </div>

        <!-- Main Title -->
        <div class="row">
            <div class="main-title col-lg-12">
                <h1 class="display-6">Acronis Cyber Protect Setup</h1>
            </div>
        </div>

        <!-- Creation section -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 section">
                    <span class="section-name h4">Creation</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <form action="{% url "register" %}" method="POST">
                        {% csrf_token %}
                        <p class="h5">Create Customer</p>

                        <label for="cname">Name</label><br>
                        <input type="text" id="cname" placeholder="Company Name" name="customerName" required><br>

                        <label for="cadd">Address</label><br>
                        <input type="text" id="cadd" placeholder="Company Address" name="customerAdd" required><br>

                        <label for="cemail">Email</label><br>
                        <input type="email" id="cemail" placeholder="Company Email" name="customerEmail" required><br>

                        <label for="cphone">Phone Number</label><br>
                        <input type="text" id="cphone" placeholder="Company Phone" name="customerPhone" required><br>

                        
                        <!-- <label for="mode">Management Mode</label><br>
                    
                        <input type="radio" name="mode" id="self" value="Self-Service" checked>
                        <label for="self">Self-Service</label><br>
                        
                        <input type="radio" name="mode" id="SP" value="Managed by SP">
                        <label for="SP">Managed by SP</label><br> -->

                        <!-- <label for="quota">Device Quota</label><br>
                        <div class="slider-container">
                        <input type="range" min="0" max="100" id="quota" class="slider"><br>
                        </div>
                        <p class="slide">Value: <span id="demo"></span></p>
                        <script src="https://waseem-mosam.github.io/automation/slider.js"></script> -->
                        <input type="submit" value="Submit">
                    </form>
                    <div class="form-group">
                        {% for message in messages %}
                        <div class="success" role="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-4">
                    <form action="{% url "registerUser" %}" method="POST">
                        {% csrf_token %}
                        <p class="h5">Create a User</p>

                        <label for="cID">Customer ID</label><br>
                        <input type="text" id="cID" placeholder="Customer ID" name="customerID" required><br>

                        <label for="uname">Username</label><br>
                        <input type="text" id="uname" placeholder="Username" name="username" required><br>

                        <label for="fname">First Name(s)</label><br>
                        <input type="text" name="firstName" id="fname" placeholder="First Name" required><br>

                        <label for="lname">Last Name</label><br>
                        <input type="text" name="lastName" id="lname" placeholder="Last Name" required><br>
                        <label for="role">Role</label><br>
                        <select name="role" id="role">
                            <option value="" selected disabled hidden>Select role</option>
                            <option value="backup_user">Backup User</option>
                            <option value="company_admin">Company Admin</option>
                            <option value="sync_share_admin">Sync & Share Admin</option>
                        </select><br>

                        <label for="email">Email</label><br>
                        <input type="email" required name="email" placeholder="Email"><br>

                        <input type="submit" name="submit" value="Submit">

                    </form>
                    <div class="form-group">
                        {% for messageD in messageDisplay %}
                        <div class="success" role="alert">
                            {{ messageD }}
                        </div>
                        {% endfor%}
                    </div>

                </div>

                <div class="col-lg-4">
                    <form action="{% url "createProtection" %}" method="POST">
                        {% csrf_token %}
                        <p class="h5">Protection Plan</p>

                        <label for="pname">Customer ID</label><br>
                        <input type="text" required placeholder="Customer ID" name="customerID"><br>

                        <!-- <label for="service">Service</label><br>

                        <input type="checkbox" name="service" id="service" value="Service1">
                        <label for="service1">Service 1</label><br>

                        <input type="checkbox" name="service" id="service" value="Service2">
                        <label for="service1">Service 2</label><br>

                        <input type="checkbox" name="service" id="service" value="Service3">
                        <label for="service1">Service 3</label><br> -->

                        <input type="submit" value="Submit">
                    </form>
                    <div class="form-group">
                        {% for m in message %}
                        <div class="success" role="alert">
                            {{ m }}
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>

        <!-- Data Retrieval Section -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 section">
                    <span class="section-name h4">Data Retrieval</span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <form action="{% url "retrieveInfo" %}" method="POST">
                        {% csrf_token %}
                        <p class="h5">Get Client Information</p>

                        <label for="ciname">Client ID</label><br>
                        <input type="text" placeholder="Client ID Number" id="ciname" name="clientID" required><br>

                        <input type="submit" value="Submit"><br><br>
                    </form>
                </div>
                <div class="col-lg-4">
                    <form action="{% url "retrieveUserInfo" %}" method="POST">
                        {% csrf_token %}
                        <p class="h5">Get User Information</p>

                        <label for="cuname">User ID</label><br>
                        <input type="text" placeholder="User ID" id="cuname" name="userID" required><br>

                        <input type="submit" value="Submit"><br><br>
                    </form>
                </div>
                <div class="col-lg-4">
                    <form action="{% url "retrieveAlerts" %}" method="POST">
                        {% csrf_token %}
                        <p class="h5">Get All Alerts</p>

                        <label for="caname">Customer ID</label><br>
                        <input type="text" placeholder="Company Name" id="caname" name="customerID" required><br>

                        <input type="submit" value="Submit"><br><br>
                    </form>
                </div>
            </div>
        </div>     
    </div>

    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://waseem-mosam.github.io/automation/images/logo-dt.png" alt="Company Logo" class="footer-1" id="logo-footer">
                <p class="h6 footer-1">Automate your workflow.</p>
            </div>

            <div class="footer-2 col-lg-6">
                <p class="h5">Address</p>
                <p class="h6">Plot 25051, Block 3, Gaborone</p>
                <p class="h6">Botswana</p>
                <p class="h6">+267 71 454 117</p>
                <p class="h6">enquiries@decisive-tech.co.bw</p>
            </div> 
        </div>
    </div>
 
</body>
</html>